# **Lab 5 : Ordinary Differential Equations**<br>

Ordinary Differential Equation (ODE) is a differential equation consisting of one or more functions of a single independent variable and the derivatives of those functions. Finding derivatives analytically is a complex procedure, involving a lot of rules. Computers and calculators find derivatives using some sort of numerical methods, such as **Euler's method**, **Runge-Kutta 2<sup>nd</sup> order method** and **Runge-Kutta 4<sup>th</sup> order method**. An important thing to note here is that these numerical methods can only solve first order ODE of the form $ \frac{dy}{dx}=f(x,y), y(0)=y_0 $. Then how do we solve higher order differential equations? Basically, we convert higher order derivatives of one variable into first order derivatives of a different variable, and then apply one of those numerical methods we just talked about.

In today's lab, we will be implementing the **Runge-Kutta 2<sup>nd</sup> order method** for solving a second order ODE in python. Refer to the example 3 in the higher order differential equations pdf. There are 3 methods associated with **Runge-Kutta 2<sup>nd</sup> order method** and we will be using the Heun's method so as to be able to check our results with the ones obtained in the example. 

The following is the problem you need to solve. Given the ordinary differential equation $ \frac{d^2y}{dx^2}+2\frac{dy}{dx}+y=e^{-t}, y(0)=1, \frac{dy}{dx}(0)=2 $, find using Heun's method $y(0.75)$ using a step size of $h=0.25$

##Task 1
Convert the higher order differential equation into two first order differential equations of two different variables $y$ and $z$. Implement two functions for $f_1$ and $f_2$. Then, complete the following RungeKutta2() method that takes the initial values for y and z as well as the step size and the point t_o at which we are trying to estimate y and finally uses the previous two functions at every iteration to calculate $y_{i+1}$ and $z_{i+1}$. The function should return the result for $y(0.75)$.

In [25]:
import numpy as np
import pandas as pd
def f1(t,y,z):
  return z
  #Your code here

def f2(t,y,z):
  return np.exp(-t)-2*z-y
  #Your code here


def RungeKutta2(y0, z0, h, t_o):
  yis=[y0]
  zis=[z0]
  for i in range(round(0.75/h)):
    k1y=f1(t_o,y0,z0)
    k1z=f2(t_o,y0,z0)
    k2z=f2(t_o+h,y0+h*k1y,z0+h*k1z)
    k2y=f1(t_o+h,y0+h*k1y,z0+h*k1z)
    
    y=y0+0.5*(k1y+k2y)*h
    z=z0+0.5*(k1z+k2z)*h
    y0=y
    z0=z
    t_o=t_o+h
    yis.append(y0)
    zis.append(z0)
  d = {'yi': yis, 'zi': zis}  
  df=pd.DataFrame(data=d) 
  return df
  #Your code here

In [26]:
RungeKutta2(1, 2, 0.25,0)

         yi        zi
0  1.000000  2.000000
1  1.375000  1.159850
2  1.573841  0.555340
3  1.647738  0.131592